/*行事曆大綱*/
.calendar {
  height: 500px;
  width: 100%;
  display: flex;
  /*position: absolute;*/
  background-color: #E1E5F4;
}
.calendar h1{
  color: #5877BB;
 font-size: 50px;
 position: relative;
  bottom: -50px;
 left: 685px;
}