
html{
	font-family: "微軟正黑體";
}

body{
	width: 100%;
	height: 100vh;
	margin: 0;
	position: fixed;
	background-image: url("../picture/底圖3.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
}

/*按鈕*/
.right_btn{
 	position: absolute;
    bottom: 15%;
    right: 16%;
}
.left_btn{
 	position: absolute;
    top: 2%;
    right: 16%;
}
.url_btn{
	position: absolute;
	top: 2%;
    right: -3%;
	width: 18%;
    
}
.account_btn{
	width: 10%;
	height: 10%;
	position: relative;
	top: 85%;
	font-size: 16px;
	font-family: '微軟正黑體';
	font-weight:900;
	margin-right: 5%;
}

button{
	color: #9B9796;/*文字顏色*/
	width: 330px;
	height: 40%;
	/*margin-left: 13%;*/
	margin-right: 4%;
	font-size: 22px;
	border-radius: 10px;
	border: 2px solid #EBF7F7; /*區塊邊框顏色*/
	background-color: #FFFFFF;/*區塊內部顏色*/
	opacity: 0.7;/*透明度*/
	float: right;
	cursor: pointer;
	white-space: nowrap;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);/* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
}

#main{
	width: 100%;
	height: 100vh;
}

/*RWD
@media(max-width:500px){
	#main{
		flex-wrap: wrap;
		word-wrap: break-word;
		width: 80%;
		height: 35%;
		font-size: 15px;
		padding: 0%;
		padding-top: 2%;
		padding-left: 10%;
		padding-right: 10%;
	}
}*/

@media(max-width:1100px){
	html{
		font-family: "微軟正黑體";
	}

	body{
		width: 100%;
		height: 100vh;
		margin: 0;
		position: fixed;
		background-image: url("../picture/底圖3.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: left top;
		background-size: cover;
	}

	/*按鈕*/
	.right_btn{
	 	position: absolute;
	    bottom: 30%;
	    right: 15%;
	}
	.left_btn{
	 	position: absolute;
	    top: 32.5% !important;
	    right: 15%;
	}
	.url_btn{
		position: absolute;
		right: 15%;
		top: 7% !important;
		width: 48%;
		
	}
	.account_btn{
		width: 10%;
		height: 10%;
		position: relative;
		top: 84%;
		font-size: 16px;
		font-family: '微軟正黑體';
		font-weight:900;
		text-align: center;
	}

	button{
		color: #9B9796;/*文字顏色*/
		width: 48%;
		height: 28%;
		/*margin-left: 13%;*/
		margin-right: 5%;
		font-size: 22px;
		border-radius: 10px;
		border: 2px solid #EBF7F7; /*區塊邊框顏色*/
		background-color: #FFFFFF;/*區塊內部顏色*/
		opacity: 0.7;/*透明度*/
		float: right;
		cursor: pointer;
		white-space: nowrap;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);/* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
	}

	#main{
		width: 100%;
		height: 100vh;
	}

}

@media(max-width:850px){ /*600px-850px*/
	html{
		font-family: "微軟正黑體";
	}

	body{
		width: 100%;
		height: 100vh;
		margin: 0;
		position: fixed;
		background-image: url("../picture/底圖3.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: left top;
		background-size: cover;
	}

	/*按鈕*/
	.right_btn{
	 	position: absolute;
	    bottom: 20%;
	    right: 15%;
	}
	.left_btn{
	 	position: absolute;
	    top: 20%;
	    right: 15%;
	}
	.url_btn{
		position: absolute;
	   top: 5% !important;
	   right: 15%;
	   width: 43%;
   }
	

	.account_btn{
		width: 15%;
		height: 10%;
		position: relative;
		top:80%;
		font-size: 16px;
		font-family: '微軟正黑體';
		font-weight:900;
		text-align: center;
		margin-right: 8%;
	}

	button{
		color: #9B9796;/*文字顏色*/
		width: 48%;
		height: 23%;
		/*margin-left: 13%;*/
		margin-right: 16%;
		font-size: 22px;
		border-radius: 10px;
		border: 2px solid #EBF7F7; /*區塊邊框顏色*/
		background-color: #FFFFFF;/*區塊內部顏色*/
		opacity: 0.7;/*透明度*/
		float: right;
		cursor: pointer;
		white-space: nowrap;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);/* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
	}

	#main{
		width: 100%;
		height: 100vh;
	}

}

@media(max-width:600px){ /*360px-600px*/
	html{
		font-family: "微軟正黑體";
	}

	body{
		width: 100%;
		height: 100vh;
		margin: 0;
		position: fixed;
		background-image: url("../picture/底圖3.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: left top;
		background-size: cover;
	}

	/*按鈕*/
	.right_btn{
	 	position: absolute;
	    bottom: 25%;
	    right: 15%;
	}
	.left_btn{
	 	position: absolute;
	    top: 30%;
	    right: 15%;
	}
	
	.account_btn{
		width: 20%;
		height: 8%;
		position: relative;
		top: 75%;
		font-size: 14px;
		font-family: '微軟正黑體';
		font-weight:900;
		text-align: center;
		margin-right: 8%;
	}

	button{
		color: #9B9796;/*文字顏色*/
		width: 43%;
		height: 20%;
		/*margin-left: 13%;*/
		margin-right: 20%;
		font-size: 16px;
		border-radius: 10px;
		border: 2px solid #EBF7F7; /*區塊邊框顏色*/
		background-color: #FFFFFF;/*區塊內部顏色*/
		opacity: 0.7;/*透明度*/
		float: right;
		cursor: pointer;
		white-space: nowrap;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);/* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
	}

	#main{
		width: 100%;
		height: 100vh;
	}

}